<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>

    <!-- navs -->
    <nav class="navbar navbar-expand-lg  navbar-light " style="background-color: rgb(26, 64, 231);">
      <a class="navbar-brand text-dark" href="#"><i class="fas fa-book-open mr-2 text-dark"></i>online book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link text-white" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
            </li>    
          <li class="nav-item active">
            <a class="nav-link text-white" href="{% url 'login' %}">login<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'register' %}">registrasi</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              kategori buku
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for data in kategori %}  
              <a class="dropdown-item" href="{% url 'bacabuku' data.id %}">{{data.kategori}}</a>
              {% endfor %}
            </div>
          </li>
          
        </ul>
         
        <!-- searchh -->
        <form action="{% url 'search' %}" method="POST" id="formr-search">
          {% csrf_token %}
          <div class="" style="border-radius: 20px; border-style: solid; border-color: rgb(149, 156, 248); outline: none; ">
            <input class="ml-3 mr-3 " name="search" id="search" placeholder="Search" aria-label="Search" style="outline: none; border: 0px;  background-color: rgba(255, 0, 0, 0); ">

            <button id="button" type="submit" style="border-style: solid; border-color: rgb(125, 116, 253);border-top: none; border-bottom: none; border-right: none; outline: none; background-color: rgba(255, 0, 0, 0);"><a href=""><i class="fas fa-search text-white"></i></a></button>
          </div>
        </form>
      

        <form class="form-inline my-2 my-lg-0 ml-3">
          <a href="{% url 'profile' %}" class="nav-link text-white">Profile</a>
        </form>
      </div>
    </nav>
    <!-- navs -->
    
    <!-- content -->
    <div class="container col-md-9">
        <div class="row ml-2 mt-5">
           {% for data in users %}
           <div class="card mr-3 ml-3 mt-3 mb-3" id="cardc" style="width: 18rem; background-color: rgb(20, 17, 226);">
            <div class="card-body ">
                <div class="row">
                    <i class="fas fa-book-open col-md-6 text-primary"></i>
                    <div class="col-md-2"></div>
                    <div class="col-md-4 ">{{data.kategori}}</div>
                </div>
                <h5 class="card-title">Judul:{{data.judul}}</h5>
                <p class="card-text">penulis:{{data.penulis}}</p>
                <a href="{% url 'baca' data.id %}" class="nav-link" style="background-color: rgb(0, 0, 0);">Baca</a>
            </div>
            </div>
            {% endfor %}  

              

        </div>
         

        <div class="fixed-bottom ml-3">

          <center>
         
              {% if users.has_other_pages %}
              <ul class="pagination">
                  {% if users.has_previous %}
                      <li><a class="page-link" href="?page={{ users.previous_page_number }}">«</a></li>
                  {% else %}
                      <li class="disabled page-link"><span>«</span></li>
                  {% endif %}
                      {% for i in users.paginator.page_range %}
                          {% if users.number == i %}
                              <li class="active bg-primary text-white page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                              <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                      {% endfor %}
                      {% if users.has_next %}
                      <li><a class="page-link" href="?page={{ users.next_page_number }}">»</a></li>
                      {% else %}
                      <li class="disabled page-link"><span>»</span></li>
                      {% endif %}
              </ul>
              
              {% endif %}

          </center>

      </div>


    </div>
    <!-- content -->




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>