<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>

    <!-- navs -->
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand text-primary" href="#"><i class="fas fa-book-open mr-2 text-primary"></i>online book</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-primary" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
              </li>    
            <li class="nav-item active">
              <a class="nav-link text-primary" href="{% url 'login' %}">login<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-primary" href="{% url 'register' %}">registrasi</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                kategori buku
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for data in kategori %}  
                <a class="dropdown-item" href="{% url 'bacabuku' data.id %}">{{data.kategori}}</a>
                {% endfor %}
              </div>
            </li>
            
          </ul>
          <form class="form-inline my-2 my-lg-0">
            BACALAH
          </form>
        </div>
      </nav>
    <!-- navs -->
    
    <!-- content -->
    <div class="container">
        <div class="row">
           {% for data in data %}
            <div class="card mr-3 ml-3 mt-3 mb-3" style="width: 18rem; background-color: rgb(237, 237, 252);">
                <div class="card-body">
                    <div class="row">
                        <i class="fas fa-book-open col-md-6 text-primary"></i>
                        <div class="col-md-2"></div>
                        <div class="col-md-4 border">{{data.kategori}}</div>
                    </div>
                  <h5 class="card-title">judul:{{data.judul}}</h5>
                  <p class="card-text">penulis:{{data.penulis}}</p>
                  <a href="{% url 'baca' data.id %}" class="nav-link form-control">Baca</a>
                </div>
              </div>
            {% endfor %}  

              

        </div>
    </div>
    <!-- content -->




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>