{% extends 'profilebase.html' %}

{% block content %}

<!-- table user -->

<div class="container-fluid">

    <!-- Page Heading -->
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables of book</h6>
            <a class="nav-link" href="{% url 'uploadbuku' %}">
                <button class="form-control bg-primary text-white">tambah buku</button>
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Judul</th>
                            <th>penulis</th>
                            <th>penerbit</th>
                            <th>Start date</th>
                            <th>actions</th>
                            
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Judul</th>
                            <th>penulis</th>
                            <th>penerbit</th>
                            <th>Start date</th>
                            <th>actions</th>
                            
                        </tr>
                    </tfoot>
                    <tbody>
                        
                       {% for book in book %}
                        <tr>
                            <td>{{book.judul}}</td>
                            <td>{{book.penulis}}</td>
                            <td>{{book.penerbit}}</td>
                            <td>{{book.ate}}</td>
                            <th><div class="row">

                                <a href="{% url 'updatebuku' book.id %}"><i class="fas fa-edit ml-3"></i></a>
                                <h3 class="mr-2 ml-2">/</h3>
                                <a href="{% url 'deletbuku' book.id %}" onclick="return confirm('aryou suere to delete this book ??')"><i class="fas fa-trash-alt"></i></a>
                                
                            </div></th>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
            </div>
        </div>

        
    </div>


    <!-- admin -->


</div>



<!-- end table user -->

<!-- table user admin -->




<!-- end table user admin -->


{% endblock content %}