{% for data in post_list %}
    <div class="card mr-3 ml-3 mt-3 mb-3" style="width: 18rem; background-color: rgb(237, 237, 252);">
        <div class="card-body">
            <div class="row">
                <i class="fas fa-book-open col-md-6 text-primary"></i>
                <div class="col-md-2"></div>
                <div class="col-md-4 border">{{data.kategori}}</div>
            </div>
            <h5 class="card-title">judul:{{data.judul}}</h5>
            <p class="card-text">penulis:{{data.penulis}}</p>
            <a href="{% url 'baca' data.id %}" class="nav-link form-control">Baca</a>
        </div>
        </div>
{% endfor %}  